/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15 Apr, 2015, 2:59:28 PM
    Author     : Rajesh Mayara<rajesh.mayara@locuz.com>
*/
.task-area{
    margin-left: 10px !important;
    margin-right: 10px !important;
}

